mixin question(data)
  .question&attributes(attributes)
    .question__content
      h5.mb-5= data.title
      p.mb-20 Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
    .question__controls
      each item, index in data.id
        .custom-control(class="custom-" + data.modifier)
          if index == 1
            input.custom-control-input(type=data.modifier, id=item, checked, name=data.name)
          else
            input.custom-control-input(type=data.modifier, id=item, name=data.name)
          if index == 1
            label.custom-control-label(for=item) Вариант ответа еще один
          else
            label.custom-control-label(for=item) Вариант ответа
