h1,
.h1 {
  font-family: $font-family-secondary;
  font-size: 64px;
  line-height: 1.125;
  font-weight: 800;
}

h2,
.h2 {
  font-family: $font-family-secondary;
  font-size: 48px;
  line-height: 1.17;
  font-weight: 800;
}

h3,
.h3 {
  font-family: $font-family-secondary;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 800;
}

h4,
.h4 {
  font-family: $font-family-secondary;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 800;
  letter-spacing: .01em;
}

h5,
.h5 {
  font-family: $font-family-secondary;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: .01em;
}

h6,
.h6 {
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

p,
.p {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 1.37;

  &.lg {
    font-size: 20px;
    line-height: 1.4;
  }

  &.sm {
    font-size: 14px;
    line-height: 1.29;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  margin-bottom: 0;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

.font-secondary {
  font-family: $font-family-secondary;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
