@font-face {
  font-family: 'Panton';
  src: url('../fonts/subset-Panton-ExtraBold.woff2') format('woff2'),
    url('../fonts/subset-Panton-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panton';
  src: url('../fonts/subset-Panton-Bold.woff2') format('woff2'),
    url('../fonts/subset-Panton-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'),
    url('../fonts/Akrobatextrabold.woff2') format('woff2'), url('../fonts/Akrobatextrabold.woff');
  font-weight: 800;
  font-style: normal;
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
