mixin message(data)
  .message&attributes(attributes)
    .message__userpic(style="background-image: url(./img/" + data.photo + ");")
    .message__content
      .message__content-header
        .h6.message__name= data.name
        if data && data.modifier == 'active'
          a.message__menu(href="#")
        else
          .message__time 10:10
      .p.sm= data.content
