/* Bootstrap */

/* Buttons */

.btn {
  padding: 13px 16.36px;
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: #fff;

  @include media-breakpoint-down(sm) {
    padding: 8px 10px;
  }

  &.btn-primary {
  }

  &.btn-secondary {
  }
}

/* Tabs */

.nav-tabs {
  border-bottom: 1px solid $secondary;

  .nav-item {
    margin-right: 54px;
  }

  .nav-link {
    padding: 10px 0;
    color: #000;
    border: 0;
    border-bottom: 4px solid transparent;
    border-radius: 0;

    @include transition();

    &.active {
      border-color: $secondary;
    }
  }

  &--lg {
    border-color: #bdbdbd;

    .nav-item {
      margin-right: 40px;
    }

    .nav-link {
      color: $secondary;
      border-width: 1px;

      &.active {
      }
    }
  }

  &--btn {
    border-color: rgba(#bdbdbd, .2);

    .nav-item {
      margin-right: 0;
      border-bottom: 0;
    }

    .nav-link {
      padding: 11.5px 17px;
      color: #000;
      border: 0;

      @include transition();

      &:hover {
        opacity: .75;
      }

      &.active {
        color: #000;
        background: $secondary;
      }
    }
  }

  &--days {
    border-bottom: 0;

    .nav-item {
      margin-right: 9px;
      margin-bottom: 9px;
    }

    .nav-link {
      padding: 5px 11.4px;
      border: 1px solid $secondary;
      border-radius: 4px;

      @include transition();

      &--inactive {
        border-radius: .23;
      }

      &.active {
        background: $secondary;

        .h6 {
          color: #fff;
        }
      }
    }
  }

  &--links {
    border-bottom: 0;

    .nav-item {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }

    .nav-link {
      padding: 0;
      color: $secondary;
      border-bottom: 0;

      @include transition();

      &:hover {
        opacity: .75;
      }

      &.active {
        color: $dark;
      }
    }
  }
}

/* Checkbox  & Radio */

.custom-checkbox {
  margin-bottom: 16px;
  padding-left: 40px;

  .custom-control-input {

    &:checked ~ .custom-control-label {

      &:before {
      }

      &:after {
        background: url(../img/checkbox-check.svg) no-repeat;
        background-size: contain;
      }
    }
  }

  .custom-control-label {

    &:before {
      top: 1px;
      left: -40px;
      width: 24px;
      height: 24px;
      border-color: #000;
    }

    &:after {
      top: 1px;
      left: -40px;
      width: 24px;
      height: 24px;
    }
  }
}

.custom-radio {
  margin-bottom: 16px;
  padding-left: 40px;

  .custom-control-input {

    &:checked ~ .custom-control-label {

      &:before {
        background: transparent;
        border-color: $primary;
      }

      &:after {
        background: $primary;
      }
    }
  }

  .custom-control-label {

    &:before {
      top: 1px;
      left: -40px;
      width: 24px;
      height: 24px;
      border-color: #000;
    }

    &:after {
      top: 7px;
      left: -34px;
      width: 12px;
      height: 12px;
      background: transparent;
      border-radius: 50%;
    }
  }

  &--btn {
    margin-right: 12px;
    padding-left: 0;

    .custom-control-input {

      &:checked ~ .custom-control-label {
        background: rgba(117, 192, 67, .5);
        border-color: $primary;

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }
    }

    .custom-control-label {
      padding: 10px 22.425px;
      font-size: 16px;
      color: #fff;
      background: rgba(255, 255, 255, .1);
      border: 1px solid #f2f2f2;
      border-radius: 8px;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }
}

/* Perfect Scrollbar */

.ps--active-y > .ps__rail-y {
  width: 4px;
  opacity: 1 !important;
  background-color: #c4c4c4;

  .ps__thumb-y {
    right: 0;
    width: 4px;
    background: $primary;
  }
}

.ps--active-x > .ps__rail-x {
  height: 16px;
  opacity: 1 !important;
  background-color: rgba(#bdbdbd, .25);

  .ps__thumb-x {
    bottom: 4px;
    height: 8px;
    background: $primary;
    border-radius: 0;
  }
}

/* Ion.RangeSlider */

.irs {
  min-width: 140px;
  height: 50px !important;
}

.irs--flat .irs-line {
  top: 15px;
  height: 8px;
  background: linear-gradient(270deg, #75c043 0%, #ff0000 100%);
  border: 2px solid #c4c4c4;
  border-radius: 10px;
}

.irs-bar {
  background-color: transparent !important;
}

.irs-handle {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  z-index: 1;
  top: 5px;
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-family: $font-family-sans-serif;
  font-size: 13px;
  text-align: center;
  background: $dark;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

  &:before {
    display: none;
  }
}

.irs-grid-pol {
  display: none;
}

.irs-grid {
  bottom: 5px;
  height: 18px;
}

.irs--flat .irs-grid-text {
  visibility: visible !important;
  font-family: $font-family-sans-serif;
  font-size: 10px;
  line-height: 18px;
  color: #000;
}
