.circle {
  position: relative;
  display: flex;
  width: 211px;
  height: 211px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border: 34px solid #f2f2f2;
  border-radius: 50%;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__ring-wrapper {
    position: absolute;
    top: -39px;
    left: -34px;
  }

  &__ring {
    width: 100%;
    height: 100%;
  }
}
