
include ../blocks/logo/logo.pug
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/user/user.pug
include ../blocks/chat/chat.pug
include ../blocks/message/message.pug
include ../blocks/game/game.pug
include ../blocks/popup/popup.pug
include ../blocks/question/question.pug
include ../blocks/footer/footer.pug
include ../blocks/loader/loader.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/waiting/waiting.pug
include ../blocks/answer/answer.pug
include ../blocks/aside/aside.pug
include ../blocks/evaluation/evaluation.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/team/team.pug
include ../blocks/circle/circle.pug
include ../blocks/calendar/calendar.pug
include ../blocks/stream/stream.pug
include ../blocks/taskbar/taskbar.pug
include ../blocks/player/player.pug
include ../blocks/speaker/speaker.pug
include ../blocks/link-back/link-back.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/event/event.pug
include ../blocks/journal/journal.pug
include ../blocks/schedule/schedule.pug
include ../blocks/session/session.pug
include ../blocks/goods/goods.pug
include ../blocks/item/item.pug
include ../blocks/program/program.pug
include ../blocks/captain/captain.pug