.input {

  &--textarea {
    padding: 11px 17px;
    width: 100%;
    min-height: 96px;
    font-size: 16px;
    line-height: 22px;
    resize: none;

    color: $dark;
    border: 0;
    border-radius: 8px;

    @include placeholder($dark);
  }
}
