.journal {

  &__day {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__stats-wrapper {
    width: 100%;
    max-width: 406px;
  }

  &__stats {
    margin-bottom: 23px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__numbers-wrapper {
    margin-bottom: 30px;
  }

  &__number {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__number-content {
    font-family: $font-family-secondary;
    font-size: 80px;
    line-height: 1;
    font-weight: 800;
    color: $primary;

    &--overall {
      font-size: 124px;
      line-height: 1;
      color: $secondary;
    }
  }

  &__number-dscr {
    max-width: 150px;
  }
}
