mixin taskbar(data)
  .taskbar&attributes(attributes)
  
    if data && data.modifier == 'simple'
      .taskbar__simple
        .taskbar__dscr
          h4.text-white.mb-5 Задание индивидуальное
          .p.text-white Потренируйся и нажми - завершить задание
        if data && data.type == 'start'
          a.btn.btn-primary(href="#") Старт тренировки
        if data && data.type == 'finish'
          a.btn.btn-secondary(href="#") Завершить задание
        if data && data.type == 'end'
          .h5.text-primary Вы получили 1 балл
          
    else if data && data.modifier == 'team'
      .taskbar__dscr
        h4.text-white.mb-5 Задание командное
        .p.text-white Сбор информации, анализ и поиск проблем. Решение задачи происходит на страницах команд
      .taskbar__btns-wrapper
        a.btn.btn-secondary(href="#") Перейти на страницу микро-команды
        a.btn.btn-primary(href="#") Перейти на страницу команды
          
    else if data && data.modifier == 'process'
      form.taskbar__step(action="#", method="POST")
        .taskbar__dscr
          h4.text-white.mb-5 Задание индивидуальное
          .p.text-white Потренируйся и нажми - завершить задание
        .taskbar__answers-wrapper
          .custom-control.custom-radio.custom-radio--btn
            input#taskbarRadio1.custom-control-input(type='radio', name='taskbar')
            label.custom-control-label(for='taskbarRadio1') Ответ первый
          .custom-control.custom-radio.custom-radio--btn
            input#taskbarRadio2.custom-control-input(type='radio', name='taskbar', checked)
            label.custom-control-label(for='taskbarRadio2') Следующий ответ в одну строку
          .custom-control.custom-radio.custom-radio--btn
            input#taskbarRadio3.custom-control-input(type='radio', name='taskbar')
            label.custom-control-label(for='taskbarRadio3') Еще ответ
        .taskbar__step-footer
          .p.text-white Выберите один из вариантов ответов
          button.btn.btn-secondary(type="submit") Отправить
