.taskbar {
  margin-top: 8px;
  margin-bottom: 13px;
  padding: 18px 24px 18px 18px;
  background: $dark;
  border-radius: 4px;

  &__simple {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    .btn,
    .h5 {
      margin-left: 20px;
      flex-shrink: 0;

      @include media-breakpoint-down(sm) {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }

  &__dscr {

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__btns-wrapper {
    margin-top: 18px;
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .btn {

      & + .btn {
        margin-left: 18px;

        @include media-breakpoint-down(sm) {
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }
  }

  &__step {
  }

  &__answers-wrapper {
    margin: 20px 0 16px;
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__step-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
