.calendar {
  display: flex;
  border-bottom: 1px solid $secondary;

  @include media-breakpoint-down(lg) {
    overflow: auto;
  }

  &__item {
    position: relative;
    padding: 10px;
    flex-grow: 1;
    flex-basis: calc(100% / 7);
    color: #000;

    @include transition();

    @include media-breakpoint-down(lg) {
      min-width: 160px;
      flex-basis: 160px;
    }

    &--past {
      opacity: .3;

      .calendar__item-day {
        color: $secondary;
      }
    }

    &--current {

      .calendar__item-day {
        color: $secondary;
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: calc(100% - 20px);
        height: 4px;
        content: '';
        background: $secondary;
        transform: translateX(-50%);
      }
    }
  }

  &__item-day {
  }

  &__item-date {
  }
}
