mixin calendar(data)
  .calendar&attributes(attributes)
    a.calendar__item.calendar__item--past(href="#") 
      .h6.calendar__item-day День 2
      .p.calendar__item-date Понедельник 04.08
    a.calendar__item.calendar__item--past(href="#") 
      .h6.calendar__item-day День 2
      .p.calendar__item-date Вторник 04.08
    a.calendar__item.calendar__item--past(href="#") 
      .h6.calendar__item-day День 2
      .p.calendar__item-date Среда 04.08
    a.calendar__item.calendar__item--current(href="#") 
      .h6.calendar__item-day День 4
      .p.calendar__item-date Четверг 04.08
    a.calendar__item(href="#") 
      .h6.calendar__item-day День 5
      .p.calendar__item-date Пятница 04.08
    a.calendar__item(href="#") 
      .h6.calendar__item-day День 6
      .p.calendar__item-date Суббота 04.08
    a.calendar__item(href="#") 
      .h6.calendar__item-day День 7
      .p.calendar__item-date Воскресенье 04.08
