mixin waiting(data)
  .waiting&attributes(attributes)
    .h6.waiting__header!= data.title
    if data && data.modifier == 'responses'
      .waiting__content
        .h2.waiting__responses-number 1/3
        .waiting__responses-wrapper
          .waiting__response.waiting__response--active(style="background-image: url(./img/user-1.jpg);")
          .waiting__response
          .waiting__response
