.waiting {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 110px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  background: rgba(#fff, .9);

  @include media-breakpoint-down(md) {
    padding-top: 20px;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      margin-right: 7px;
      display: block;
      width: 44px;
      height: 44px;
      flex-shrink: 0;
      content: '';
      background: url(../img/spinner.svg) no-repeat center;
      background-size: contain;
      animation: spin 1.5s linear infinite;

      @include media-breakpoint-down(sm) {
        width: 20px;
        height: 20px;
      }
    }

    br {

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__responses-number {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.26;
    font-weight: 700;
  }

  &__responses-wrapper {
    display: flex;
    justify-content: center;
  }

  &__response {
    width: 45px;
    height: 60px;
    border: 1.5px solid #eb5757;
    border-radius: 6px;

    & + & {
      margin-left: 13px;
    }

    &--active {
      background-position: top center;
      background-size: cover;
      border-color: $primary;
    }
  }

  &--responses {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}
