.team {
  margin-bottom: 50px;
  padding: 30px 30px 65px 65px;
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  border-radius: 8px;

  @include media-breakpoint-down(lg) {
    padding: 20px;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {

    br {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__master {
    margin: 0 20px;
    display: flex;
    align-self: center;

    @include media-breakpoint-down(md) {
      margin: 20px 0;
      align-self: flex-start;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__master-photo {
    margin-right: 32px;
    width: 160px;
    height: 213px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 8px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__master-content {
    max-width: 165px;
  }

  &__master-status {
    padding: 5px 11.41px;
    display: inline-flex;
    color: #fff;
    background: $secondary;
    border-radius: 4px;
  }

  &__mates {
    display: flex;
    //    justify-content: flex-end;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__mates-add {
    margin-left: 32px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__mates-add-area {
    margin-bottom: 38px;
    display: flex;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    border: 1px dashed #75c043;
    border-radius: 50%;

    @include transition();

    &:hover {
      opacity: .75;
    }

    &:before {
      display: block;
      width: 50px;
      height: 50px;
      content: '';
      background: url(../img/plus.svg) no-repeat;
      background-size: contain;
    }
  }

  &__user {

    & + & {
      margin-left: 32px;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}
