mixin team(data)
  .team&attributes(attributes)
    if data && data.modifier == 'another'
      h3.team__header Мои<br> цифровые<br> аватары
    else
      h3.team__header Моя<br> команда
    if data && data.modifier == 'another'
    else
      .team__master
        .team__master-photo(style="background-image: url(./img/user-1.jpg);")
        .team__master-content
          p.lg.mb-15 Викторианская Валентина Игоревна
          p.sm.text-dark РОСНЕФТЬ  |   PR Manager
          .h6.team__master-status Мастер
    .team__mates
      +user({
        photo: 'user-3.jpg',
        name: 'Игорь<br> Валентиновский',
        city: 'г. Магадан',
        type: 'game'
      }).user--cabinet.team__user
      +user({
        photo: 'user-4.jpg',
        name: 'Татьяна<br> Бабина',
        city: 'г. Москва',
        type: 'game'
      }).user--cabinet.user--offair.team__user
      if data && data.modifier == 'another'
        .team__mates-add
          a.team__mates-add-area(href="#")
          .h6 Добавить <br>Аватар
