mixin item(data)
  .item(data-start=data.start, data-end=data.end)&attributes(attributes)  
    .item__wrapper
      a.item__button.item__button--add(href="#")
      .item__header
        .item__header-left
          .p.sm.item__time
          if data.place
            .p.sm.ml-20.item__place= data.place
      .item__content
        .p.item__title= data.title
