.item {
  position: absolute;
  padding: 16px 12px 16px 16px;
  display: flex;
  width: 100%;
  height: 85px;
  border: 4px solid #fff;

  @include transition;

  @include media-breakpoint-down(md) {
    min-width: 600px;
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: #f8f9fa;
    border: 1px solid transparent;
    transform: translate(-50%, -50%);
  }

  &:hover {
    z-index: 2;
    height: auto;

    &:before {
      border-color: $secondary;
    }

    .item__dscr {
      position: static;
      opacity: 1;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    position: absolute;
    top: -4px;
    right: 0;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    @include transition;

    @include media-breakpoint-down(md) {
      right: 0;
    }

    &--add {
      background: $secondary url(../img/program-plus.svg) no-repeat center left 8px;
    }

    &--remove {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #bdbdbd;

      &:after {
        display: block;
        width: 15px;
        height: 1px;
        content: '';
        background: #fff;
      }
    }

    &:hover {
      opacity: .7;
    }
  }

  &__header {
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    flex-shrink: 0;
  }

  &__header-left {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__time {
    color: #495057;
  }

  &__subtitle {
    margin-left: 15px;
  }

  &__header-right {
  }

  &__place {
    color: #495057;
  }

  &__title {
    color: #000;
  }

  &__dscr {
    margin-top: 6px;
    opacity: 0;
    color: rgba(#000, .5);
  }

  &--break {

    &:before {
      background: rgba(#75c043, .2);
    }

    .item__button {
      display: none;
    }
  }

  &--row {

    .item__wrapper {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .item__header {
      margin-right: 23px;
      margin-bottom: 0;
    }

    .item__button {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--conflicting {
  }
}
