.footer {
  flex-shrink: 0;
  border-top: 1px solid #bdbdbd;

  &__wrapper {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      flex-direction: column;
      text-align: center;
    }
  }

  &__copyright {

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }
}
