mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrapper
        .p.sm.footer__copyright © 2020. Территория смыслов
        .p.sm
          a(href="#") Пользовательское соглашение
