mixin speaker(data)
  .speaker&attributes(attributes)
    .speaker__left
      .speaker__photo(style="background-image: url(./img/" + data.photo + ");")
      .speaker__left-content
        .speaker__type= data.type
        .h6.speaker__name Валентинова Татьяна
        .p.sm Партнер, Speedinvest
    .speaker__content
    
      if data && data.modifier == 'liking'
        .speaker__liking
          .p.sm Был ли полезен спикер?
          .speaker__liking-controls
            a.speaker__liking-btn.speaker__liking-btn--success(href="#")
            a.speaker__liking-btn.speaker__liking-btn--fail(href="#")
    
      else if data && data.modifier == 'usefullness'
        .speaker__points
          .p.sm.speaker__points-header Эмоциональность выступления
          .h4.speaker__points-content.speaker__points-content--emotionality 2.2
    
      else if data && data.modifier == 'overall'
        .speaker__points
          .p.sm.speaker__points-header Эмоциональность выступления
          .h4.speaker__points-content.speaker__points-content--emotionality 2.2
        .speaker__points
          .p.sm.speaker__points-header Был ли полезен спикер
          .h4.speaker__points-content.speaker__points-content--usefullness 5
            
      if data && data.modifier != 'overall'
        .speaker__right

          if data && data.modifier == 'liking'
            a.speaker__icon.speaker__icon--question(href="#")
            a.speaker__icon.speaker__icon--favorite(href="#")

          else if data && data.modifier == 'emotionality'
            .speaker__evaluation
              .p.sm.speaker__evaluation-header Эмоциональность выступления
              +evaluation({
                start: '-7',
                end: '7',
                current: '2'
              }).evaluation--wide
            a.speaker__icon.speaker__icon--check(href="#")
            a.speaker__icon.speaker__icon--question(href="#")

          else if data && data.modifier == 'usefullness'
            .speaker__evaluation
              .p.sm.speaker__evaluation-header Был ли полезен спикер
              +evaluation({
                start: '0',
                end: '7',
                current: '5'
              })
            a.speaker__icon.speaker__icon--check(href="#")

          else if data && data.modifier != 'overall'
            a.speaker__icon.speaker__icon--question(href="#")
