.speaker {
  margin-top: 8px;
  padding: 24px 32px 21px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(#bdbdbd, .1);
  border-radius: 5px;

  @include media-breakpoint-down(lg) {
    padding: 10px 15px;
    flex-wrap: wrap;
  }

  &__left {
    margin-right: 10px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  &__photo {
    margin-right: 15px;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__left-content {
  }

  &__type {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &__name {
    margin: 2px 0 3px;
  }

  &__content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }

  &__liking {
    margin-right: 40px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }
  }

  &__liking-controls {
    display: flex;
  }

  &__liking-btn {
    margin-left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include transition();

    &:hover {
      opacity: .75;
    }

    @include media-breakpoint-down(lg) {
      margin-left: 10px;
    }

    &--success {
      background: $primary url(../img/like.svg) no-repeat center;
      background-size: contain;
    }

    &--fail {
      background: $secondary url(../img/dislike.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__evaluation {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      align-items: flex-start;
    }
  }

  &__evaluation-header {
    text-align: center;
    color: rgba(#000, .5);

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  &__points {
    margin-right: 50px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      width: 100%;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__points-header {
    margin-right: 11px;
    max-width: 110px;
    color: rgba(#000, .5);
  }

  &__points-content {

    &--emotionality {
      color: #af7128;
    }

    &--usefullness {
      color: #acaf28;
    }
  }

  &__right {
    //    margin-left: 40px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      //      margin-left: 20px;
    }

    @include media-breakpoint-down(sm) {
      //      margin-top: 10px;
      //      margin-left: 0;
      width: 100%;
    }
  }

  &__icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include transition();

    &:hover {
      opacity: .75;
    }

    & + & {
      margin-left: 16px;

      @include media-breakpoint-down(lg) {
        margin-left: 10px;
      }
    }

    &--question {
      background: url(../img/question.svg) no-repeat center;
      background-size: contain;
    }

    &--favorite {
      background: url(../img/favorite.svg) no-repeat center;
      background-size: contain;
    }

    &--check {
      background: url(../img/speaker-check.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--host {

    .speaker__name {
      color: $secondary;
    }
  }
}
