.captain {
  margin-bottom: 44px;
  padding: 0 20px;
  display: flex;
  width: 20%;
  max-width: none;
  flex-direction: column;
  align-items: center;
  color: $dark;

  @include media-breakpoint-down(sm) {
    padding: 0 10px;
    width: 50%;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__photo {
    margin-bottom: 18px;
    width: 118px;
    height: 152px;
    background-position: top center;
    background-size: cover;
    border-radius: 8px;
  }

  &__check {
    margin-top: 18px;
    width: 56px;
    height: 56px;
    background: url(../img/captain-check.svg) no-repeat center;
    background-size: contain;
  }
}
