.program {
  position: relative;
  margin-bottom: 40px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #acb5bd;

  &__wrapper {
    padding-top: 8px;
    display: flex;
    border-top: 1px solid #acb5bd;
  }

  &__time-wrapper {
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-right: 4px solid rgba(#bdbdbd, .25);
  }

  &__time {
    padding: 2.5px 0 2.5px 4px;
    width: 61px;
    min-height: 90px;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    color: #495057;

    &:last-child {
      min-height: 0;
    }

    @include media-breakpoint-down(md) {
      padding-left: 0;
      width: 42px;
    }
  }

  &__content {
    position: relative;
    padding-top: 20px;
    padding-left: 26px;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }

    @include media-breakpoint-down(md) {
      overflow: auto;
      width: calc(100% - 46px);
    }
  }

  &__items-row {
    position: absolute;
    margin-left: -18px;
    display: flex;
    width: calc(100% + 36px);

    .item {

      @include media-breakpoint-down(md) {
        min-width: 300px;
      }

      &--solved {
        position: relative;
        top: 0 !important;
        margin: 0 18px;
      }
    }
  }
}
