mixin program(data)
  .program&attributes(attributes)
    .program__wrapper
    
      //Дата начала и окончания дня указываются в соответствующих data-атрибутах, на их основании временной диапазон дня расписывается с шагом в полчаса
      .program__time-wrapper(data-day-start="12", data-day-end="24")
      
      //У каждого события (.item) нужно указать время начала (data-start) и время конца (data-end) в десятичном формате. На основании этих данных автоматически строится сетка мероприятия.
      .program__content
        +item({
          title: 'Точка смысла',
          start: '12',
          end: '13',
          place: 'Зал1'
        })
        +item({
          title: 'Обед',
          start: '13',
          end: '14.5',
          place: 'Зал1'
        })
        +item({
          title: 'Нетворкинг',
          start: '14.5',
          end: '15.5',
          place: 'Зал1'
        })
        +item({
          title: 'Установочная лекция по профилю смены',
          start: '16',
          end: '17',
          place: 'Жёлтый лекторий'
        }).item--conflicting
        +item({
          title: 'Установочная лекция по профилю смены',
          start: '16',
          end: '17',
          place: 'Жёлтый лекторий'
        }).item--conflicting
        +item({
          title: 'Установочная лекция по профилю смены',
          start: '16',
          end: '17',
          place: 'Жёлтый лекторий'
        }).item--conflicting
        +item({
          title: 'Нетворкинг',
          start: '18.5',
          end: '19.34',
          place: 'Жёлтый лекторий'
        })
        +item({
          title: 'Перерыв',
          start: '19.34',
          end: '19.67'
        }).item--break.item--row
        +item({
          title: 'Открытие форума',
          start: '21',
          end: '22',
          place: 'Жёлтый лекторий'
        })
        +item({
          title: 'Перерыв',
          start: '22',
          end: '23'
        }).item--break.item--row
        +item({
          title: 'Командная рефлексия',
          start: '23',
          end: '23.5'
        }).item--row
