.game {

  &__team {
    position: relative;
    padding: 20px 0 17px;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      padding-bottom: 0;
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 100vw;
      height: 100%;
      content: '';
      background: #f2f2f2;
      border-radius: 8px;
    }
  }

  &__team-item {
    display: flex;
    align-items: flex-end;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__container {
    position: relative;
    padding-right: 14px;
  }

  &__wrapper {
    position: relative;
  }

  &__content {
    position: relative;
    padding-top: 25px;
    padding-bottom: 60px;

    h4 {
      margin-bottom: 12px;
    }

    article + article {
      margin-top: 25px;
    }
  }

  &__test {
  }

  &__over {
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    max-width: 240px;
    flex-direction: column;
    align-items: center;
  }

  &__check {
    margin: 30px auto 20px;
    display: block;
  }
}
