extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .cabinet
        ul.nav.nav-tabs.nav-tabs--lg(role='tablist')
          li.nav-item
            a.nav-link(data-toggle='tab', href='#cabinet1', role='tab') 
              .h5 Профиль
          li.nav-item
            a.nav-link(data-toggle='tab', href='#cabinet2', role='tab') 
              .h5 Моя смена
          li.nav-item
            a.nav-link(data-toggle='tab', href='#cabinet3', role='tab') 
              .h5 Мои сессии
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#cabinet4', role='tab') 
              .h5 Мой дневник

        .tab-content
          #cabinet1.tab-pane.fade(role='tabpanel')
            .cabinet__top
              .cabinet__user-left
                .cabinet__userpic(style="background-image: url(./img/user-2.jpg);")
                .cabinet__user-content
                  p.lg.mb-15.cabinet__user-name Викторианская Валентина Игоревна
                  p.sm.mb-35.text-dark РОСНЕФТЬ  |   PR Manager
                  .h6.cabinet__team Команда #1
                  a.cabinet__logout(href="#") Выйти из аккаунта
              .cabinet__user-center
                p.mb-20 Краснодарский край <br>г. Краснодар
                p.sm.mb-20 Кубанский Государственный Университет
                form.cabinet__nickname(action="#", method="POST")
                  .cabinet__nickname-header Никнейм
                  .cabinet__nickname-content
                    input.cabinet__nickname-input(type="text", placeholder="Введите")
                    button.cabinet__nickname-btn(type="submit")
              .cabinet__user-right
                +circle
            +team
            +team({
              modifier: 'another'
            })
          #cabinet2.tab-pane.fade(role='tabpanel')
            +calendar
            ul.nav.nav-tabs.nav-tabs--btn(role='tablist')
              li.nav-item
                a.nav-link.active(data-toggle='tab', href='#shift1', role='tab') 
                  .p Онлайн-Тренировка
              li.nav-item
                a.nav-link(data-toggle='tab', href='#shift2', role='tab') 
                  .p Карта дня
              li.nav-item
                a.nav-link(data-toggle='tab', href='#shift3', role='tab') 
                  .p Сессия 360
              li.nav-item
                a.nav-link(data-toggle='tab', href='#shift4', role='tab') 
                  .p Игра
              li.nav-item
                a.nav-link(data-toggle='tab', href='#shift5', role='tab') 
                  .p МОТИВ ТОК
              li.nav-item
                a.nav-link(data-toggle='tab', href='#shift6', role='tab') 
                  .p Топ спикер
              li.nav-item
                a.nav-link(data-toggle='tab', href='#shift7', role='tab') 
                  .p Итоги дня
              
            .row.no-gutters
              .col-lg-8
                .tab-content
                  #shift1.tab-pane.fade.show.active(role='tabpanel')
                    +player
                    +speaker({
                      photo: 'user-1.jpg',
                      type: 'Ведущий',
                    }).speaker--host
                    +taskbar({
                      modifier: 'simple',
                      type: 'start'
                    })
                    +taskbar({
                      modifier: 'simple',
                      type: 'finish'
                    })
                    +taskbar({
                      modifier: 'simple',
                      type: 'end'
                    })
                  #shift2.tab-pane.fade(role='tabpanel')
                  #shift3.tab-pane.fade(role='tabpanel')
                    +player
                    +speaker({
                      photo: 'user-1.jpg',
                      type: 'Ведущий',
                    }).speaker--host
                    +speaker({
                      photo: 'user-1.jpg',
                      type: 'Спикер',
                      modifier: 'liking'
                    })
                    +taskbar({
                      modifier: 'team',
                    })
                  #shift4.tab-pane.fade(role='tabpanel')
                    +player
                    +speaker({
                      photo: 'user-1.jpg',
                      type: 'Ведущий',
                    }).speaker--host
                    +taskbar({
                      modifier: 'team',
                    })
                  #shift5.tab-pane.fade(role='tabpanel')
                    +player
                    +speaker({
                      photo: 'user-1.jpg',
                      type: 'Ведущий',
                    }).speaker--host
                    +speaker({
                      photo: 'user-2.jpg',
                      type: 'Спикер',
                      modifier: 'emotionality'
                    })
                    +speaker({
                      photo: 'user-3.jpg',
                      type: 'Спикер',
                      modifier: 'usefullness'
                    })
                    +speaker({
                      photo: 'user-4.jpg',
                      type: 'Спикер',
                      modifier: 'overall'
                    })
                    +taskbar({
                      modifier: 'process',
                    })
                  #shift6.tab-pane.fade(role='tabpanel')
                  #shift7.tab-pane.fade(role='tabpanel')
              .col-lg-4
                +aside({
                  modifier: 'chat',
                  title: 'Общий чат'
                }).cabinet__aside
          #cabinet3.tab-pane.fade(role='tabpanel')
            .session
              .session__header
                ul.nav.nav-tabs.nav-tabs--days(role='tablist')
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#day1', role='tab') 
                      .h6 День 1
                  li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#day2', role='tab') 
                      .h6 День 2
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#day3', role='tab') 
                      .h6 День 3
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#day4', role='tab') 
                      .h6 День 4
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#day5', role='tab') 
                      .h6 День 5
                ul.nav.nav-tabs.nav-tabs--links(role='tablist')
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#programSession1', role='tab') 
                      .h5 Основная программа
                  li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#programSession2', role='tab') 
                      .h5 Свободная программа
              .tab-content
                #day1.tab-pane.fade(role='tabpanel')
                #day2.tab-pane.fade.show.active(role='tabpanel')
                  .tab-content
                    #programSession1.tab-pane.fade(role='tabpanel')
                    #programSession2.tab-pane.fade.show.active(role='tabpanel')
                      .row
                        .col-sm-6.col-lg-3
                          +event({
                            dscr: 'и дополнительное описание в несколько строк что не влезлои дополнительное описание в несколько строк что не влезло'
                          })
                        .col-sm-6.col-lg-3
                          +event({
                            dscr: 'и дополнительное описание в несколько строк что не влезло'
                          })
                        .col-sm-6.col-lg-3
                          +event({
                            dscr: 'и дополнительное описание в несколько строк что не влезло'
                          })
                        .col-sm-6.col-lg-3
                          +event({
                            dscr: 'и дополнительное описание в несколько строк что не влезло'
                          })
                        .col-sm-6.col-lg-3
                          +event({
                            dscr: 'и дополнительное описание в несколько строк что не влезло'
                          })
                        .col-sm-6.col-lg-3
                          +event({
                            dscr: 'и дополнительное описание в несколько строк что не влезло'
                          })
                #day3.tab-pane.fade(role='tabpanel')
                #day4.tab-pane.fade(role='tabpanel')
                #day5.tab-pane.fade(role='tabpanel')
          #cabinet4.tab-pane.fade.show.active(role='tabpanel')
            .journal
              ul.nav.nav-tabs.nav-tabs--days.mt-35.mb-25(role='tablist')
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#dayJournal1', role='tab') 
                    .h6 День 1
                li.nav-item
                  a.nav-link.active(data-toggle='tab', href='#dayJournal2', role='tab') 
                    .h6 День 2
                li.nav-item.nav-item--inactive
                  a.nav-link(data-toggle='tab', href='#dayJournal3', role='tab') 
                    .h6 День 3
                li.nav-item.nav-item--inactive
                  a.nav-link(data-toggle='tab', href='#dayJournal4', role='tab') 
                    .h6 День 4
                li.nav-item.nav-item--inactive
                  a.nav-link(data-toggle='tab', href='#dayJournal5', role='tab') 
                    .h6 День 5
              .tab-content
                #dayJournal1.tab-pane.fade(role='tabpanel')
                #dayJournal2.tab-pane.fade.show.active(role='tabpanel')
                  .journal__day
                    .journal__stats-wrapper
                      .journal__stats
                        .h5 Онлайн тренировка
                        .h5.text-secondary.ml-10 5
                      .journal__stats
                        .h5 Карта дня
                        .h5.text-secondary.ml-10 5
                      .journal__stats
                        .h5 Сессия 360
                        .h5.text-secondary.ml-10 5
                      .journal__stats
                        .h5 Онлайн тренировка
                        .h5.text-secondary.ml-10 3
                      .journal__stats
                        .h5 Карта дня
                        .h5.text-secondary.ml-10 5
                      .journal__stats
                        .h5 Сессия 360
                        .h5.text-secondary.ml-10 10
                      .journal__stats
                        .h5 Сессия 360
                        .h5.text-secondary.ml-10 3
                    .journal__numbers-wrapper
                      .journal__number
                        .journal__number-content.journal__number-content--overall 72
                        .p.sm.journal__number-dscr Общее количество очков за все время
                      .journal__number
                        .journal__number-content 36
                        .p.sm.journal__number-dscr Общее количество очков за день
  +footer
