extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +link-back
      h4.mt-15.mb-10 Выбор капитана
      p.mb-35 Прежде чем начать выберите капитана мастер-команды
      .captain__wrapper
        +captain
        +captain
        +captain
        +captain
        +captain
        +captain
        +captain
        +captain
        +captain
        +captain
  +footer
