extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +link-back
      .game
        .row.no-gutters
          .col-lg-8
            .game__content
              h4.mb-15 Оцени участнкиов своей команды
              form(action="#", method="POST")
                - for(var i = 0; i < 10; i++)
                  +user({
                    photo: 'user-1.jpg',
                    name: 'Игорь Валентиновский',
                    city: 'г. Магадан, МК 1',
                    modifier: 'evaluation'
                  }).user--evaluation
                button.btn.btn-primary.mt-15(type="submit") Отправить
  +footer
