extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +link-back
      .game
        .row.no-gutters
          .col-lg-8
            .game__team
              .row
                .col-6.col-md-3.game__team-item
                  +user({
                    photo: 'user-1.jpg',
                    name: 'Викторианская<br> Валентина',
                    city: 'г. Магадан',
                    type: 'game',
                    modifier: 'master'
                  }).user--master
                .col-6.col-md-3.game__team-item
                  +user({
                    photo: 'user-2.jpg',
                    name: 'Игорь<br> Валентиновский',
                    type: 'game',
                    city: 'г. Магадан',
                  })
                .col-6.col-md-3.game__team-item
                  +user({
                    photo: 'user-3.jpg',
                    name: 'Татьяна<br> Бабина',
                    type: 'game',
                    city: 'г. Магадан'
                  }).user--offair
                .col-6.col-md-3.game__team-item
                  +user({
                    photo: 'user-4.jpg',
                    name: 'Владислав<br> Олегин',
                    type: 'game',
                    city: 'г. Магадан'
                  }).user--onair
            .game__over
              .text-center
                p Игра окончена...
                img.game__check(src="./img/check.svg", alt)
                h4 Ваша компетенция развита на 
                  span.text-primary.d-block 90%
                h4 Ваша сила увеличена на
                  span.text-secondary.d-block 40
                a.btn.btn-primary.mt-20(href="#") Спасибо!
          .col-lg-4
            +aside({
              modifier: 'chat',
              title: 'Чат команды'
            })
  +footer
