extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="team.html", style="font-size: 20px;") Team
          li(style="list-style: none;")
            a.d-block.my-20(href="evaluation.html", style="font-size: 20px;") Evaluation
          li(style="list-style: none;")
            a.d-block.my-20(href="gameover.html", style="font-size: 20px;") Gameover
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet.html", style="font-size: 20px;") Cabinet
          li(style="list-style: none;")
            a.d-block.my-20(href="schedule.html", style="font-size: 20px;") Schedule
          li(style="list-style: none;")
            a.d-block.my-20(href="captain.html", style="font-size: 20px;") Captain
