extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +link-back
      .game
        .row.no-gutters
          .col-lg-8
            .game__team
              .row
                .col-6.col-md-3.game__team-item
                  +user({
                    photo: 'user-1.jpg',
                    name: 'Викторианская<br> Валентина',
                    city: 'г. Магадан',
                    type: 'game',
                    modifier: 'master'
                  }).user--master
                .col-6.col-md-3.game__team-item
                  +user({
                    photo: 'user-2.jpg',
                    name: 'Игорь<br> Валентиновский',
                    type: 'game',
                    city: 'г. Магадан',
                  })
                .col-6.col-md-3.game__team-item
                  +user({
                    photo: 'user-3.jpg',
                    name: 'Татьяна<br> Бабина',
                    type: 'game',
                    city: 'г. Магадан'
                  }).user--offair
                .col-6.col-md-3.game__team-item
                  +user({
                    photo: 'user-4.jpg',
                    name: 'Владислав<br> Олегин',
                    type: 'game',
                    city: 'г. Магадан'
                  }).user--onair
            .game__container

              //+waiting({
                title: 'Ожидаем ответы от участников команды',
                modifier: 'responses'
              //}).waiting--responses

              //+waiting({
                title: 'Ожидаем вопросы от участников команды',
                modifier: 'responses'
              //}).waiting--responses
              
              ul.nav.nav-tabs.mt-10(role='tablist')
                li.nav-item
                  a.nav-link.active(data-toggle='tab', href='#step1', role='tab') 
                    .h6 Шаг 1
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step2', role='tab') 
                    .h6 Шаг 2
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step3', role='tab') 
                    .h6 Шаг 3
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step4', role='tab') 
                    .h6 Шаг 4
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step5', role='tab') 
                    .h6 Шаг 5
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step6', role='tab') 
                    .h6 Шаг 6
              .game__wrapper

                .tab-content
                  #step1.tab-pane.fade.show.active(role='tabpanel')
                    .game__content
                      article
                        h4 Ваша компетенция развита на 
                          span.text-primary 20% 
                      //+popup({
                        modifier: 'competence'
                      //})
                      article
                        h4.mb-25 Выходное тестирование
                        h4.mb-25 Входное тестирование
                        form.game__test(action="#", method="POST")
                          +question({
                            title: 'Вопрос 1',
                            modifier: 'checkbox',
                            id: ['id1', 'id2', 'id3'],
                            name: 'checkbox1'
                          })
                          +question({
                            title: 'Вопрос 2',
                            modifier: 'radio',
                            id: ['id4', 'id5', 'id6'],
                            name: 'radio1'
                          })
                          +question({
                            title: 'Вопрос 3',
                            modifier: 'checkbox',
                            id: ['id7', 'id8', 'id9'],
                            name: 'checkbox2'
                          })
                          +question({
                            title: 'Вопрос 2',
                            modifier: 'radio',
                            id: ['id10', 'id112', 'id12'],
                            name: 'radio2'
                          })
                          +question({
                            title: 'Вопрос 3',
                            modifier: 'checkbox',
                            id: ['id13', 'id14', 'id15'],
                            name: 'checkbox3'
                          })
                          button.btn.btn-primary(type="#submit") Отправить
                      
                      article
                        h4 Задание для цифровых аватаров
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        a.btn.btn-secondary(href="#") Поставить задачу
                      article
                        h4 Задание для мастера
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        +form({
                          btn: 'Отправить команде'
                        })
                  #step2.tab-pane.fade(role='tabpanel')
                    .game__content

                      //+waiting({
                        title: 'Ожидайте выдачи задания от мастера'
                      //})

                      //+waiting({
                        title: 'Мастер-команда принимает решение, <br>ответ появится тут в течении минуты'
                      //})
                      
                      article
                        h4 Задание для цифровых аватаров
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        a.btn.btn-secondary(href="#") Поставить задачу
                      article
                        h4 Задание для мастера
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        +form({
                          btn: 'Отправить команде'
                        })



                      article
                        h4 Задание цифрового аватара
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        +form({
                          btn: 'Отправить ответ'
                        })
                      article
                        h4 Ответ мастера
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                      article
                        h4 Ответы команды
                        +answer({
                          photo: 'user-1.jpg',
                          name: 'Игорь Валентиновский',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый',
                          status: 'success',
                          votes: 'Голосов: 2'
                        })
                        +answer({
                          photo: 'user-2.jpg',
                          name: 'Татьяна Бабина',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже',
                          status: 'fail',
                          votes: 'Голосов: 2'
                        }).answer--highlighted
                        +answer({
                          photo: 'user-3.jpg',
                          name: 'Владислав Олегин',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые ',
                          status: 'success',
                        })
                        +form({
                          btn: 'Отправить в мастер-команду'
                        })

                      article
                        h4 Решение мастер - команды задачи Шага 2
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        .d-flex.justify-content-end.mt-20
                          a.btn.btn-secondary(href="#") Не согласен
                          a.btn.btn-primary.ml-10(href="#") Согласен
                        
                      article
                        h4 Ответ мастер-команды
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                      article
                        h4 Ответ мастера
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                      article
                        h4 Ответы команды
                        +answer({
                          photo: 'user-1.jpg',
                          name: 'Игорь Валентиновский',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый',
                          status: 'success',
                          votes: 'Голосов: 2'
                        })
                        +answer({
                          photo: 'user-2.jpg',
                          name: 'Татьяна Бабина',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже',
                          status: 'fail',
                          votes: 'Голосов: 2'
                        }).answer--highlighted
                        +answer({
                          photo: 'user-3.jpg',
                          name: 'Владислав Олегин',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые ',
                          status: 'success',
                        })
                      
                      article
                        h4 Задание для цифровых аватаров
                        p Сформируйте вопроса для спикера
                        a.btn.btn-secondary.mt-50(href="#") Поставить задачу
                      
                      article.mb-65
                        h4 Задание для мастера
                        p Сфорируйте вопрос для спикера
                        +form({
                          btn: 'Отправить команде'
                        })

                      article
                        h4 Задание цифрового аватара
                        p Сформулируйте вопрос для спикера
                        +form({
                          btn: 'Отправить вопрос'
                        }).mt-65
                      
                      article
                        h4 Вопрос от мастера
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                      article
                        h4 Вопросы от команды
                        +answer({
                          photo: 'user-1.jpg',
                          name: 'Игорь Валентиновский',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый',
                          status: 'success',
                          votes: 'Голосов: 2'
                        })
                        +answer({
                          photo: 'user-2.jpg',
                          name: 'Татьяна Бабина',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже',
                          status: 'fail',
                          votes: 'Голосов: 2'
                        }).answer--highlighted
                        +answer({
                          photo: 'user-3.jpg',
                          name: 'Владислав Олегин',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые ',
                          status: 'success',
                        })

                  #step3.tab-pane.fade(role='tabpanel')
                    .game__content

                      //+waiting({
                        title: 'Ожидайте выдачи задания от мастера'
                      //})

                      //+popup({
                        modifier: 'voting'
                      //}).popup--short

                      article
                        h4 Задание для цифровых аватаров
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        a.btn.btn-secondary(href="#") Выдать задачу и перейти на страничку мастер-команды


                      article
                        h4 Задание цифрового аватара
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        +form({
                          btn: 'Отправить ответ'
                        })

                      article
                        h4 Задание цифрового аватара
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                        +form({
                          btn: 'Отправить ответ'
                        })

                      article
                        h4 Задание для цифровых аватаров
                        p Собрать информацию по теме задчи смены
                        a.btn.btn-secondary.mt-45(href="#") Выдать задачу 
                      
                      article
                        h4 Ответ от мастера
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                      article
                        h4 Ответы от команды
                        +answer({
                          photo: 'user-1.jpg',
                          name: 'Игорь Валентиновский',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый',
                          status: 'success',
                          votes: 'Голосов: 2'
                        })
                        +answer({
                          photo: 'user-2.jpg',
                          name: 'Татьяна Бабина',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже',
                          status: 'fail',
                          votes: 'Голосов: 2'
                        }).answer--highlighted
                        +answer({
                          photo: 'user-3.jpg',
                          name: 'Владислав Олегин',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые ',
                          status: 'success',
                        })


                  #step4.tab-pane.fade(role='tabpanel')
                    .game__content
                      article
                        h4 Ответ мастера
                        p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые зане
                      article
                        h4 Ответы команды
                        +answer({
                          photo: 'user-1.jpg',
                          name: 'Игорь Валентиновский',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый',
                          status: 'success',
                          votes: 'Голосов: 2'
                        })
                        +answer({
                          photo: 'user-2.jpg',
                          name: 'Татьяна Бабина',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже',
                          status: 'fail',
                          votes: 'Голосов: 2'
                        }).answer--highlighted
                        +answer({
                          photo: 'user-3.jpg',
                          name: 'Владислав Олегин',
                          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые ',
                          status: 'success',
                        })
                        +form({
                          btn: 'Отправить в мастер-команду'
                        })
                  #step5.tab-pane.fade(role='tabpanel')
                    .game__content
                      +waiting({
                        title: 'Мастер-команда принимает решение, <br>ответ появится тут в течении минуты'
                      })
                  #step6.tab-pane.fade(role='tabpanel')
                    .game__content
                      +popup({
                        modifier: 'competence'
                      })
          .col-lg-4
            +aside({
              modifier: 'chat',
              title: 'Чат команды'
            })
  +footer
