extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .schedule
        h2 Программа
        .schedule__header
          ul.nav.nav-tabs.nav-tabs--days(role='tablist')
            li.nav-item
              a.nav-link(data-toggle='tab', href='#day1', role='tab') 
                .h6 День 1
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='#day2', role='tab') 
                .h6 День 2
            li.nav-item
              a.nav-link(data-toggle='tab', href='#day3', role='tab') 
                .h6 День 3
            li.nav-item
              a.nav-link(data-toggle='tab', href='#day4', role='tab') 
                .h6 День 4
            li.nav-item
              a.nav-link(data-toggle='tab', href='#day5', role='tab') 
                .h6 День 5
          ul.nav.nav-tabs.nav-tabs--links(role='tablist')
            li.nav-item
              a.nav-link(data-toggle='tab', href='#programSession1', role='tab') 
                .h5 Основная программа
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='#programSession2', role='tab') 
                .h5 Свободная программа
                
        .tab-content
          #day1.tab-pane.fade(role='tabpanel')
          #day2.tab-pane.fade.show.active(role='tabpanel')
            .tab-content
              #programSession1.tab-pane.fade(role='tabpanel')
              #programSession2.tab-pane.fade.show.active(role='tabpanel')
                .schedule__calendar.left
                  +program
          #day3.tab-pane.fade(role='tabpanel')
          #day4.tab-pane.fade(role='tabpanel')
          #day5.tab-pane.fade(role='tabpanel')
  +footer
