extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +link-back
      .game
        .row.no-gutters
          .col-lg-8
            .game__container
              ul.nav.nav-tabs(role='tablist')
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step1', role='tab') 
                    .h6 Шаг 1
                li.nav-item
                  a.nav-link.active(data-toggle='tab', href='#step2', role='tab') 
                    .h6 Шаг 2
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step3', role='tab') 
                    .h6 Шаг 3
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step4', role='tab') 
                    .h6 Шаг 4
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step5', role='tab') 
                    .h6 Шаг 5
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#step6', role='tab') 
                    .h6 Шаг 6
              .game__wrapper
                //+waiting({
                  title: 'Ожидаем ответы от участников команды',
                  modifier: 'responses'
                //})
                .tab-content
                  #step1.tab-pane.fade(role='tabpanel')
                  #step2.tab-pane.fade.show.active(role='tabpanel')
                    .game__content
                      +answer({
                        photo: 'user-1.jpg',
                        name: 'Ответ Виктории Викторианской',
                        answerUser: 'Целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый ',
                        status: 'success',
                        votes: 'Голосов: 2',
                        modifier: 'composite'
                      }).answer--composite
                      +answer({
                        photo: 'user-2.jpg',
                        name: 'Ответ Татьяны Викторовой',
                        answerUser: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый',
                        status: 'fail',
                        votes: 'Голосов: 3',
                        modifier: 'composite'
                      }).answer--highlighted.answer--composite
                      +answer({
                        photo: 'user-3.jpg',
                        name: 'Ответ Максима Залипухина',
                        answerUser: 'Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый ',
                        status: 'success',
                        votes: 'Голосов: 2',
                        modifier: 'composite'
                      }).answer--composite
                      +form({
                        btn: 'Зафиксировать командное решение'
                      })
                  #step3.tab-pane.fade(role='tabpanel')
                  #step4.tab-pane.fade(role='tabpanel')
                  #step5.tab-pane.fade(role='tabpanel')
                  #step6.tab-pane.fade(role='tabpanel')
          .col-lg-4
            +aside({
              modifier: 'team',
              title: 'Состав команды',
              userNumber: '10'
            }).aside--team
  +footer
