.user {
  padding-top: 36px;

  &__wrapper {
  }

  &__picture {
    position: relative;
    margin-bottom: 19px;
    display: flex;
    width: 64px;
    height: 64px;
    flex-direction: column;
    align-items: center;
    background-position: top center;
    background-size: cover;
    border: 2px solid $primary;
    border-radius: 50%;
  }

  &__status {
    padding: 1.5px 6.2px;
    font-family: $font-family-special;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: #fff;
    background: $primary;
    border-radius: 4px;

    &--presence {
      position: absolute;
      top: -36px;
    }

    &--master {
    }

    &--captain {
    }
  }

  &__content {
  }

  &__name {
  }

  &__evaluation {
    margin-left: 20px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  &--offair {

    .user__status--presence {
      background: #eb5757;
    }

    .user__picture {
      border: 0;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(#f2f2f2, .5);
        border-radius: 50%;
      }
    }
  }

  &--master {
    padding-top: 10px;

    .user__picture {
      margin-bottom: 22px;
      height: 85px;
      border-radius: 8px;
    }

    .user__status {

      &--presence {
        top: 0;
        transform: translateY(-50%);
      }

      &--master {
        position: absolute;
        top: auto;
        bottom: 0;
        background: $secondary;
        transform: translateY(50%);
      }
    }
  }

  &--team {
    margin-bottom: 16px;
    padding-top: 0;

    .user__picture {
      margin-right: 18px;
      margin-bottom: 0;
      width: 54px;
      height: 72px;
      flex-shrink: 0;
      border-radius: 8px;
    }

    .user__wrapper {
      display: flex;
      align-items: center;
    }

    .user__status {

      &--presence {
        top: auto;
        bottom: 0;
        padding: 2px 5.3px;
        font-size: 12px;
        line-height: 1;
        letter-spacing: .01em;
        transform: translateY(50%);
      }
    }
  }

  &--captain {

    .user__status {

      &--presence {
        top: 0;
        bottom: auto;
        transform: translateY(-50%);
      }

      &--captain {
        position: absolute;
        bottom: 0;
        padding: 3.5px 6.43px;
        font-size: 9px;
        line-height: 1;
        font-weight: 800;
        letter-spacing: .01em;
        transform: translateY(50%);
      }
    }
  }

  &--evaluation {
    margin-bottom: 8px;
    padding: 16px 32px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    .user__picture {
      margin-right: 25px;
      margin-bottom: 0;
      width: 54px;
      height: 72px;
      flex-shrink: 0;
      border-radius: 8px;
    }

    .user__wrapper {
      display: flex;
      align-items: center;
    }
  }

  &--cabinet {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .user__picture {
      margin-bottom: 40px;
      width: 160px;
      height: 160px;
    }

    .user__status {
      top: 7px;
      left: 7px;
    }
  }
}
