mixin user(data)
  .user&attributes(attributes)
    .user__wrapper
      .user__picture(style="background-image: url(./img/" + data.photo + ");")
        if data && data.type == 'game'
          .user__status.user__status--presence On air
        if data && data.modifier == 'master'
          .user__status.user__status--master Master
        else if data && data.modifier == 'captain'
          .user__status.user__status--captain Capitan
      .user__content
        p.mb-5.user__name!= data.name
        .p.sm.text-dark= data.city
    if data && data.modifier == 'evaluation'
      .user__evaluation
        +evaluation({
          start: '0',
          end: '7',
          current: '5'
        })
