.event {
  position: relative;
  margin-bottom: 24px;
  padding: 16px 16px 24px;
  background: #f8f9fa;
  border: 1px solid $secondary;

  &__btn {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: $secondary;
    border-radius: 50%;

    @include transition;

    &:hover {
      opacity: .75;
    }

    &--remove {

      &:after {
        display: block;
        width: 15px;
        height: 1px;
        content: '';
        background: #fff;
      }
    }
  }

  &__content {
  }

  &__time {
    color: #495057;
  }

  &__dscr {
    color: rgba(#000, .5);
  }
}
