mixin event(data)
  .event&attributes(attributes)
    a.event__btn.event__btn--remove(href="#")
    .event__content
      p.sm.event__time 11:00 - 12:00
      p.mb-5 Экскурсия по смыслам 
      .p.sm.event__dscr= data.dscr
