.logo {
  margin-right: 70px;

  @include media-breakpoint-down(sm) {
    position: relative;
    z-index: 3;
  }

  @include media-breakpoint-down(md) {
    margin-right: 20px;
  }

  &__img {
    max-width: 100%;
  }
}
