.cabinet {

  &__top {
    padding: 32px 0 45px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  &__user-left {
    display: flex;
  }

  &__logout {
    margin-top: 20px;
    display: block;
  }

  &__userpic {
    margin-right: 32px;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__user-content {
    max-width: 165px;
  }

  &__user-name {
  }

  &__team {
    position: relative;
    padding: 5px 11px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    background: $primary;
    border-radius: 4px;

    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      width: calc(100% + 10px);
      height: 100%;
      content: '';
      background: #eb5757;
      border-radius: 4px;
    }
  }

  &__user-center {
    max-width: 256px;

    @include media-breakpoint-down(md) {
      order: 3;
    }

    @include media-breakpoint-down(sm) {
      order: 2;
    }
  }

  &__nickname {
    display: flex;
    min-height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
  }

  &__nickname-header {
    padding: 3px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    color: $dark;
    border-right: 1px solid #bdbdbd;
  }

  &__nickname-content {
    padding: 3px 9px 3px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__nickname-input {
    padding-right: 5px;
    padding-left: 0;
    max-width: 120px;
    flex-grow: 1;
    font-size: 12px;
    color: $dark;
    border: 0;

    @include placeholder(rgba($dark, .2));
  }

  &__nickname-btn {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    background: url(../img/checkbox-check.svg) no-repeat center;
    background-size: contain;

    @include transition();

    &:hover {
      opacity: .75;
    }
  }

  &__user-right {

    @include media-breakpoint-down(md) {
      margin: 0 20px;
      order: 2;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-right: 0;
      margin-left: 0;
      order: 3;
    }
  }
}
