.link-back {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;

  &:before {
    margin-right: 22px;
    display: block;
    width: 16px;
    height: 15px;
    flex-shrink: 0;
    content: '';
    background: url(../img/link-back-arrow.svg) no-repeat center;
    background-size: contain;
  }
}
