mixin aside(data)
  .aside&attributes(attributes)
    .aside__header 
      .aside__header-left
        a.aside__header-btn(href="#")
        .h5= data.title
      .aside__header-right
        a.aside__header-user(href="#")
        if data && data.userNumber
          .h6 10
    .aside__content
    
      if data && data.modifier == 'team'
       - for (var i = 0; i<20; i++)
          if i == '0'
            +user({
              photo: 'user-1.jpg',
              name: 'Игорь Валентиновский',
              city: 'г. Магадан, МК 1',
              modifier: 'captain',
              type: 'game'
            }).user--team.user--captain
          else
            +user({
              photo: 'user-1.jpg',
              name: 'Игорь Валентиновский',
              city: 'г. Магадан, МК 1',
              type: 'game'
            }).user--team
    
      else if data && data.modifier == 'chat'
        +message({
          photo: 'user-1.jpg',
          name: 'Владислав Олегин',
          content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько',
          modifier: 'active'
        }).message--active
        +message({
          photo: 'user-2.jpg',
          name: 'Игорь Валентиновский',
          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены ',
        })
        +message({
          photo: 'user-3.jpg',
          name: 'Владислав Олегин',
          content: 'Каждый год горит Тайга Дальнего Востока. '
        })
        +message({
          photo: 'user-4.jpg',
          name: 'Викторианская Валентина',
          content: 'Пора вводить специальную рубрику извинения от ИванаДаже те которые Пора вводить специальную рубрику '
        }).message--current.message--answer
        +message({
          photo: 'user-1.jpg',
          name: 'Владислав Олегин',
          content: 'Пора вводить специальную рубрику извинения от Ивана'
        })
        +message({
          photo: 'user-2.jpg',
          name: 'Викторианская Валентина (Вы)',
          content: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет'
        }).message--current
        +message({
          photo: 'user-3.jpg',
          name: 'Владислав Олегин',
          content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
        })
        +message({
          photo: 'user-4.jpg',
          name: 'Игорь Валентиновский',
          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены ',
        })
        +message({
          photo: 'user-1.jpg',
          name: 'Владислав Олегин',
          content: 'Каждый год горит Тайга Дальнего Востока. '
        })
        +message({
          photo: 'user-2.jpg',
          name: 'Викторианская Валентина',
          content: 'Пора вводить специальную рубрику извинения от ИванаДаже те которые Пора вводить специальную рубрику '
        }).message--current.message--answer
        +message({
          photo: 'user-3.jpg',
          name: 'Владислав Олегин',
          content: 'Пора вводить специальную рубрику извинения от Ивана'
        })
        +message({
          photo: 'user-4.jpg',
          name: 'Викторианская Валентина (Вы)',
          content: 'Startup Village Livestream’20 станет виртуальным событием и главным бесплатным техноло гическим мероприятием Startup Village Livestream’20 станет'
        }).message--current
    
    if data && data.modifier == 'chat'
      .aside__footer
        form.aside__chat-form(action="#", method="POST")
          .aside__chat-form-left
            a.aside__chat-form-emoji(href="#")
            input.aside__chat-form-input(type="text", placeholder="Сообщение")
          .aside__chat-form-right
            button.aside__chat-form-btn(type="submit")
