.aside {

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  &__header {
    padding: 11px 16px 11px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      border: 1px solid #f2f2f2;
    }
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__header-btn {
    margin-right: 23px;
    width: 14px;
    height: 14px;
    background: url(../img/aside-arrow-btn.svg) no-repeat center;
    background-size: contain;

    @include transition();

    &:hover {
      opacity: .75;
    }
  }

  &__header-right {
    display: flex;
    align-items: center;
  }

  &__header-user {
    width: 24px;
    height: 24px;
    align-items: center;
    background: url(../img/aside-user-icon.svg) no-repeat center;
    background-size: contain;

    @include transition();

    &:hover {
      opacity: .75;
    }
  }

  &__content {
    position: relative;
    max-height: 568px;

    @include media-breakpoint-down(md) {
      border-left: 1px solid #f2f2f2;
    }
  }

  &__footer {
    margin-left: 19px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  &__chat-form {
    padding: 16px 20px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
  }

  &__chat-form-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__chat-form-emoji {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/emoji.svg) no-repeat;
    background-size: contain;

    @include transition();

    &:hover {
      opacity: .75;
    }
  }

  &__chat-form-input {
    margin-left: 14px;
    padding-right: 14px;
    flex-grow: 1;
    font-size: 14px;
    background: transparent;
    border: 0;

    @include placeholder(rgba(#495057, .5));
  }

  &__chat-form-right {
    display: flex;
    align-items: center;
  }

  &__chat-form-btn {
    width: 32px;
    height: 32px;
    background: url(../img/chat-send.svg) no-repeat center;
    background-size: contain;

    @include transition();

    &:hover {
      opacity: .75;
    }
  }

  &--inactive {
    opacity: .5;
    pointer-events: none;
  }

  &--team {
    background: #f2f2f2;

    .aside__content {
      padding: 10px 40px;
    }
  }
}
