.answer {
  padding: 7px 0;
  display: flex;
  align-items: center;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    position: relative;
    align-items: flex-start;
  }

  & + & {
    margin-top: 5px;
  }

  &__left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__photo {
    margin-right: 25px;
    width: 64px;
    height: 85px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border: 2px solid $primary;
    border-radius: 8px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__content {
  }

  &__content-section {
  }

  &__right {
    margin-left: 50px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__votes {
  }

  &__votes-icon {
    margin-bottom: 3px;
    width: 56px;
    height: 56px;

    &--success {
      background: url(../img/answer-success.svg) no-repeat center;
      background-size: contain;
    }

    &--fail {
      background: url(../img/answer-fail.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__votes-number {
    flex-shrink: 0;
    white-space: nowrap;
  }

  &--highlighted {
    padding: 15px 24px 12px 16px;
    background: rgba($primary, .2);

    .answer__right {

      @include media-breakpoint-down(sm) {
        top: 10px;
        right: 5px;
      }
    }
  }

  &--composite {
    align-items: flex-start;

    & + .answer--composite {
      margin-top: 15px;
    }

    .answer__content {
      display: flex;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }

    .answer__content-section {
      flex-basis: 50%;

      & + .answer__content-section {
        margin-left: 40px;

        @include media-breakpoint-down(sm) {
          margin-top: 20px;
          margin-left: 0;
        }
      }
    }

    .answer__left {
      align-items: flex-start;
    }

    .answer__photo {
      border: 0;
    }
  }
}
