mixin answer(data)
  .answer&attributes(attributes)
    .answer__left
      .answer__photo(style="background-image: url(./img/" + data.photo + ");")
      .answer__content
        .answer__content-section
          h6.mb-5= data.name
          .p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый 
        if data && data.modifier == 'composite'
          .answer__content-section
            h6.mb-10 Ответ команды
            .p Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева
    .answer__right
      .answer__votes
        if data && data.status == 'success'
          .answer__votes-icon.answer__votes-icon--success
        else if data && data.status == 'fail'
          .answer__votes-icon.answer__votes-icon--fail
        if data && data.votes
          .p.sm.answer__votes-number= data.votes

