.schedule {

  &__header {
    margin: 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-tabs--links {

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
  }

  &__calendar {
    position: relative;

    //    &:before {
    //      position: absolute;
    //      z-index: 3;
    //      top: 0;
    //      left: 0;
    //      display: block;
    //      width: 50px;
    //
    //      @include transition;
    //
    //      height: 100%;
    //      content: '';
    //      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    //    }
    //
    &:after {

      @include media-breakpoint-down(md) {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        display: block;
        width: 25px;

        @include transition;

        height: 100%;
        content: '';
        background: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      }
    }

    //    &.left {
    //
    //      &:before {
    //        opacity: 0;
    //      }
    //    }
    //
    //    &.right {
    //
    //      &:after {
    //        opacity: 0;
    //      }
    //    }
  }
}
