mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__link(href="#") 
        .h6 О форуме и смыслах
      a.menu__link(href="#") 
        .h6 Смены
      a.menu__link(href="#") 
        .h6 Программа
      a.menu__link(href="#") 
        .h6 Контакты
