.menu {

  &__btn {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
      width: 30px;
      height: 30px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: contain;
    }

    &--active {
      display: none;

      @include media-breakpoint-down(sm) {
        position: relative;
        z-index: 3;
        display: block;
        width: 30px;
        height: 30px;
        background: url(../img/close.svg) no-repeat center;
        background-size: 80%;
      }
    }
  }

  &__content {
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &--active {
      display: none;

      @include media-breakpoint-down(sm) {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        padding: 50px 20px;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
      }
    }
  }

  &__link {
    margin-right: 40px;
    color: #000;

    @include transition();

    @include media-breakpoint-down(md) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }

    .h6 {

      @include media-breakpoint-down(sm) {
        font-size: 30px !important;
      }
    }

    & + & {

      @include media-breakpoint-down(sm) {
        margin-top: 40px;
      }
    }
  }
}
