mixin header(data)
  .header&attributes(attributes)
    .container
      .header__wrapper
        .header__left
          +logo
          +menu
        .header__right
          a.header__user(href="#")
            .header__user-content
              .p.text-primary.font-weight-bold В.Викторианская
              .p.sm.text-dark Мастер
            .header__user-picture
              .header__user-picture-img(style='background-image: url(./img/user-1.jpg);')
