.header {

  &__wrapper {
    padding: 32px 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding: 10px 0 20px;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &__right {
    display: flex;

    @include media-breakpoint-down(sm) {
      position: relative;
      z-index: 3;
    }
  }

  &__user {
    display: flex;
  }

  &__user-content {
    margin-right: 25px;
    text-align: right;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__user-picture {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: -12px;
      display: block;
      width: 68px;
      height: 69px;
      content: '';
      background: url(../img/header-ellipse.svg) no-repeat center;
      background-size: contain;
      transform: translateY(-50%);

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &__user-picture-img {
    width: 30px;
    height: 40px;
    background-position: top center;
    background-size: cover;
    border-radius: 3px;
  }
}
