mixin form(data)
  .form&attributes(attributes)
    .form__item.form-group
      textarea.input.input--textarea(type="text", placeholder="Ваш ответ")
    button.btn.btn-primary.form__btn(type="submit")= data.btn
