.form {
  margin-top: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }

  &__item {
  }

  &__btn {
    align-self: flex-end;
  }
}
