.popup {
  position: absolute;
  z-index: 1;
  top: 45px;
  right: 16px;
  padding: 40px 40px 25px;
  display: flex;
  width: 100%;
  max-width: 352px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, .25);

  @include media-breakpoint-down(md) {
    top: 20px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &__check {
    margin-bottom: 20px;
    width: 80px;
  }

  &--short {
    padding: 32px 32px 37px;
    max-width: 256px;
  }
}
