mixin popup(data)
  .popup&attributes(attributes)
  
    if data && data.modifier == 'competence'
      .text-center
        img.popup__check(src="./img/check.svg", alt)
        .h4 Ваша компетенция развита на 
          span.text-primary.d-block 20%
  
    if data && data.modifier == 'voting'
      .text-center
        .h4 Проголосуйте за решение мастер-команды на шаге 2
        a.btn.btn-primary.mt-40(href="#") Проголосовать
